<footer >
	<div class="footer">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-6">
	        <h5>IDIFLY WEB SERVICES</h5>
	        <p>The company is ...</p>
	      </div>
	      <div class="col-md-2">
	        <h5>PRODUCT</h5>
	        <ul class="list-unstyled">
	          <li>Id generators</li>
	          <li>Storage</li>
	        </ul>
	      </div>
	      <div class="col-md-2">
	        <h5>DOCUMENTATION</h5>
	        <ul class="list-unstyled">
	          <li>API</li>
	          <li>UI</li>
	        </ul>
	      </div>
	      <div class="col-md-2">
	        <h5>LEGAL</h5>
	          <ul class="list-unstyled">
	            <li>Terms</li>
	            <li>Legal</li>
	            <li>Privacy</li>
	          </ul>
	      </div>
	    </div>
	  </div>
	</div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
