<div class="row">
  	<div class="col-md-12 center generic-id-generation-form">
        <form class="form-inline ">
		 	<div class="form-group ">
		  		<input [(ngModel)]="inputNumber" type="number"  class="form-control input-lg" id="inputNumer" placeholder="Number">
		  	</div>
		  	<div class="form-group">
		    	<input [(ngModel)]="inputLength" type="number" class="form-control input-lg" id="inputLength" placeholder="Length">
		  	</div>
		  	<div class="form-group">
		  		<button (click)=generateIdCodes() type="submit" class="btn btn-danger input-lg">GO!</button>
		  	</div>
		</form>
	</div>
</div>

<div class="row clearfix home-result" *ngIf="idCodeList">
	<div class="col-md-12 text-center">
		<h3>Result list</h3>
		<ul class="list-unstyled">
			<li *ngFor="#idCode of idCodeList">{{idCode.code}}</li>
		</ul>
	</div>
</div>

